.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-overlay.dark {
  opacity: 0.5;
  background-color: black;
}

.modal-panel {
  position: fixed;
  z-index: 11;
  color: #f0f0f0;
  background-color: #0b0d11;
}

.modal-panel .close-button {
  font-size: 30px;
  float: right;
  margin-top: -4px;
  margin-right: 3px;
  cursor: pointer;
}

.modal-panel .close-button:hover {
  color: white;
}

.modal-panel .close-button:active {
  color: black;
}

.modal-panel .title {
  text-align: center;
  background-color: gray;
  color: black;
}

.modal-panel h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.modal-panel {
  font-size: 20px;
  font-family: Roboto, sans-serif;
/*  font-family: sans-serif;*/
  color: #f0f0f0;
  background-color: #0b0d11;
}


.booking-widget .arrow:hover {
  color: white;
}

.booking-widget .arrow:active {
  color: lime;
}

.booking-widget .availability-list {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.booking-widget .availability-header {
  text-align: center;
}

.booking-widget .availability-list .column {
  vertical-align: top;
  display: inline-block;
}

.booking-widget .arrow {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 50px;
}

.booking-widget div.left-arrow {
  float: left;
}

.booking-widget div.right-arrow {
  float: right;
}

.booking-widget .lower-section {
  text-align: center;
  font-size: 18px;
}

.booking-widget table {
  width: 100%;
  border-spacing: 0;
}

.booking-widget .list-heading {
  overflow-y: scroll;
}

.booking-widget .list-heading th {
  font-weight: normal;
  border-right: 1px solid gray;
  padding-bottom: 5px;
}

.booking-widget .inner-table {
  text-align: left;
}

.booking-widget .inner-table tr {
  vertical-align: top;
}

.booking-widget .inner-table td {
  border-right: 1px solid gray;
}

.booking-widget .inner-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: gray;
}

.booking-widget .slot:hover{
  border: 1px solid gray;
}

.booking-widget .slot {
  cursor: pointer;
}

.booking-widget .result{
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #0b0d11;
  padding-bottom: 5px;
}

.booking-widget .clearfix {
  clear: both;
}

.booking-widget .select-room {
}

.booking-widget .filter-section {
  padding: 5px;
  font-size: 15px;
}

.booking-widget .filter-control {
  float: left;
}

.booking-widget .filter-widget-container {
}

.booking-widget .filter-widget {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.booking-widget .filter-widget:hover {
  border: 1px solid white;
  color: white;
}

.booking-widget .filter-widget:active {
  border: 1px solid lime;
  color: lime;
}

.booking-widget .filter-widget-group {
  padding: 5px;
}

.booking-widget .filter-widget-group label {
  margin-right: 5px;
}

.booking-widget .full-width {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.booking-widget .filter-widget-group.cascading {
  display: inline-block;
  margin-right: 5px;
  margin-top: 4px;
}

.booking-widget .full-width .icon {
  float: right;
}

.float-right {
  float: right;
}


.inline-block {
  display: inline-block;
}

.booking-widget .result .time {
  font-weight: 100;
  color: gray;
}

.booking-widget .result .remaining {
  font-size: 8pt;
  color: #202020;
  padding: 3px;
  border-radius: 4px;
  white-space: nowrap;
}

.booking-widget .no-match {
  color: gray;
}


.booking-widget .mardi-gras-study { color: #C1FFC1; }
.booking-widget .jazz-music-parlor { color: #97FFFF; }
.booking-widget .color3 { color: #FF3030; }
.booking-widget .color4 { color: #FF82AB; }
.booking-widget .color5 { color: #FFDAB9; }
.booking-widget .color6 { color: #FFBBFF; }
.booking-widget .bg-mardi-gras-study { background-color: #C1FFC1; }
.booking-widget .bg-jazz-music-parlor { background-color: #97FFFF; }
.booking-widget .bg-color3 { background-color: #FF3030; }
.booking-widget .bg-color4 { background-color: #FF82AB; }
.booking-widget .bg-color5 { background-color: #FFDAB9; }
.booking-widget .bg-color6 { background-color: #FFBBFF; }
